@{
    ViewData["Title"] = "Biblioteka";
}

<div class="text-center">
    <h1 class="display-4">Biblioteka</h1>
    <p>Śledz stan biblioteki oraz wypożyczenia.</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Book" asp-action="Index">Książki</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Client" asp-action="Index">Klienci</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Rent" asp-action="Index">Wypożyczenia</a>
</div>